
/* Sections */


/* Seccionado de Home page */
.section {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
}
 
/* Aun sin usar (creo) */
.mini-section {
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-md);
}

/* Primera seccion homepage */
#hero-section {
    background-color: #221D4F;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Seccion de Herramientas */
#tools {
    background-color: white;
    background-size: cover;
    background-position: center;
}


/* Texts */

/* Texto Inicial GRANDE*/
.h1-text {  
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: poppins;
}

/* Parrafo de texto incial */
.paragraph-text { 
    font-size: 18;
    font-weight: medium;
    color: white;
    font-family: poppins;

}

/* Bienvenida */
#fpresent {
    font-size: 40px;
    font-weight: lighter;
    color: black;
    justify-content: center;
    text-align: center;
    font-family: poppins;
}

/* Texto de Titulos en homepage*/
.h2-text {
    font-size: 55px;
    font-weight: bold;
    color: white;
    font-family: poppins;
}

/* Texto de Subtitulos en homepage */
.h3-text {
    font-size: 24px;
    font-weight: medium;
    color: white;
    font-family: poppins;
}

/* Texto normal en homepage*/
.alltext {
    font-size: 16px;
    font-weight: regular;
    color: white;
    font-family: Poppins;

}



/* Aun sin usar (creo) */
.ui-text {
    font-size: var(--ui-text);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

/* Buttons */
.btn-primary {
    background-color: var(--btn-primary-bg);
}

.btn-primary:hover {
    background-color: var(--btn-primary-bg-hover);
}

.btn-primary:active {
    background-color: var(--btn-primary-bg-active);
}

.btn-primary:focus {
    background-color: var(--btn-primary-bg);
}

.btn-primary:disabled {
    background-color: var(--btn-primary-bg-disabled);
}

/* Custom Buttons */
.custom-btn {
    padding: var(--padding-xs) var(--padding-xl);
    border: 2px solid #141313;
    border-radius: 30px;
    color: var(--color-text-primary);
    background-color: transparent;
    text-decoration: none;
    font-size: var(--paragraph-sm);
    transition: 0.3s ease-in-out;
    display: inline-block;
    width: 90px;
    text-align: center;
}

.custom-btn:hover {
    background-color: #007bff;
    color: var(--color-text-primary);
}

/* Cards */

.cards-container {
    padding: 40px;
    border-radius: 22px;
    background-color:#E6E8EA;
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.1);
    border: none;    
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
    max-width: 1350px;
    
}

.card {
    background-color: white;
    border: none;
    border-radius: 22px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
}

.card-large {
    height: 300px;
}
.card-medium {
    height: 250px;
}
-card-small {
    height: 200px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.icon {
    font-size: 40px;
    color: #6c757d;
    margin-bottom: 10px;
}

