
/* Sections */
.section {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
}

.mini-section {
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-md);
}

#Hero-Section {
    background-color: var(--bg-primary);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Texts */
.h1-text {
    font-size: var(--h1-text-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

.h2-text {
    font-size: var(--h2-text-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

.h3-text {
    font-size: var(--h3-text-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

.paragraph-text {
    font-size: var(--paragraph-md);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

.ui-text {
    font-size: var(--ui-text);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

/* Buttons */
.btn-primary {
    background-color: var(--btn-primary-bg);
}

.btn-primary:hover {
    background-color: var(--btn-primary-bg-hover);
}

.btn-primary:active {
    background-color: var(--btn-primary-bg-active);
}

.btn-primary:focus {
    background-color: var(--btn-primary-bg);
}

.btn-primary:disabled {
    background-color: var(--btn-primary-bg-disabled);
}

/* Custom Buttons */
.custom-btn {
    padding: var(--padding-xs) var(--padding-xl);
    border: 2px solid #141313;
    border-radius: 30px;
    color: var(--color-text-primary);
    background-color: transparent;
    text-decoration: none;
    font-size: var(--paragraph-sm);
    transition: 0.3s ease-in-out;
    display: inline-block;
    width: 90px;
    text-align: center;
}

.custom-btn:hover {
    background-color: #007bff;
    color: var(--color-text-primary);
}

/* Cards */
.cards-container {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.icon {
    font-size: 40px;
    color: #6c757d;
    margin-bottom: 10px;
}
