
/* ----------------------------------- Sections ----------------------------------- */

/* ----------------------------------- Sections ----------------------------------- */

/* ----------------------------------- Sections ----------------------------------- */


/* Seccionado de Home page */

/* Primera seccion homepage */
#hero-section {
    background-color: #221D4F;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#primera_presentacion {
    background-size: cover;
    background-position: center;
    padding: 0px 30px;
    margin-top: 150px;
        
}

/* Seccion de Herramientas */
#tools {
    background-size: cover;
    background-position: center;
    padding: 0px 30px;
    margin-top: 50px;
}

#media {
    
    background-color: #221D4F;
    background-size: cover;
    background-position: center;
    padding: 50px 30px;
    margin-top: 150px;
}

#planes_section {
    background-color: #E6E8EA;
    background-size: cover;
    background-position: center;  
    padding: 20px 30px; 
}

#pricing_section {
    background-color: #E6E8EA;
    background-size: cover;
    background-position: center;
    padding: 0px 30px;      
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */  
    margin-bottom: 150px;
}

#comentarios {
    background-color: #2d445c;
    background-size: cover;
    background-position: center;  
    padding: 20px 30px; 
}

/* ----------------------------------- Texts -----------------------------------  */

/* Texto Inicial GRANDE*/
.h1-text {  
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: poppins;
}

/* Parrafo de texto incial */
.paragraph-text { 
    font-size: 18;
    font-weight: medium;
    color: white;
    font-family: poppins;

}

/* Bienvenida */
.Presentation {
    font-size: 40px;
    font-weight: light;
    color: black; /* Cambia el color del texto a negro para mejor visibilidad sobre el fondo rosa */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    font-family: poppins;
    
}

/* Texto de Titulos en homepage*/
.h2-text {
    font-size: 55px;
    font-weight: bold;
    color: white;
    font-family: poppins;
    text-align: center;
    justify-content: center;
}

/* Texto de Subtitulos en homepage */
.h3-text {
    font-size: 24px;
    font-weight: medium;
    color: rgb(255, 255, 255);
    font-family: poppins;
    text-align: center;
}

/* Texto normal en homepage*/
.alltext {
    font-size: 16px;
    font-weight: regular;
    font-family: Poppins;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 

}

.planes_text {
    font-size: 45px;
    font-weight: Semibold;
    color: black; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: poppins;
}
/* Aun sin usar (creo) */
.ui-text {
    font-size: var(--ui-text);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
}

/* -----------------------------------  Buttons -----------------------------------  */

/*Botones morados como create event y login*/
.btn-primary {
    background-color: #BB6BD9;
    border: none;
    font-size: 16px;
    font-weight: semibold;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.btn-secondary {
    background-color: transparent;
    border:  2px solid white;
    font-size: 16px;
    font-weight: semibold;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;    
    
}

.btn_planes {
    background-color: #221D4F;
    font-size: 16px;
    font-weight: semibold;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    text-decoration: none; 
    padding: 6px 48px;
    
}

.btn-primary:hover {
    background-color: #221D4F;
}

.btn-primary:active {
    background-color: var(--btn-primary-bg-active);
}

.btn-primary:focus {
    background-color: var(--btn-primary-bg);
}

.btn-primary:disabled {
    background-color: var(--btn-primary-bg-disabled);
}
.linea1 {
    display: flex;
    align-items: center;
    gap: 545px;
}

.btn-readmore {
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #221D4F;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    padding: 6px 48px;
    display: inline-block;
}


/*-----------------------------------  Cards -----------------------------------  */

.cards-container {
    padding: 40px;
    border-radius: 22px;
    background-color:#E6E8EA;
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.1);
    border: none;    
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
    max-width: 1350px;
    
}

.card {
    background-color: white;
    border: none;
    border-radius: 22px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
}

.card-medium {
    height: 250px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 60px;
    height: 60px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 30px;
}


/*-----------------------------------  Planes cards -----------------------------------  */

.cards_plancontainer {
    padding: 40px;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 4px 2px rgba(0, 0, 0, 0.1);
    border: none;    
    transition: transform 0.2s ease-in-out;
    max-width: fit-content;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
}

.card_plan {
    background-color: white;
    border: none;
    border-radius: 22px;
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
    width: 362px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}