/* Primitive Colors */
:root {
    --color-white: #ffffff;
    --color-black: #000000;
}

/* Tokens */
:root{
    /*Basic*/
    --primary-color: var(--color-white);
    --secondary-color: var(--color-black);
}

/* Spacing Tockens */
:root {
    --border-radius: 5px;
    --pading: 10px;
}

/* Styles */
.section{
    padding-top:40px;
    padding-bottom:40px;
}